@import '../common/styles/sass/variables';

.header {
  height: 70px;
  padding: 0 30px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: nowrap;
  background-color: $bgThirdColor;
  opacity: 0.9;
  position: fixed;
  z-index: 100;
  left: 0;
  right: 0;
}
