@import '../common/styles/sass/variables.scss';
@import '../common/styles/sass/mixins.scss';


.contactsBlock {
  padding: 100px 0;
  background-color: $bgColor;

  .contactsContainer {
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: nowrap;

    .contactsForm {
      width: 50%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      margin-bottom: 20px;
      @media screen and (max-width: 360px) {
        width: 100%;
      }

      .input {
        padding: 25px;
        font-size: 13px;
        border: 0;
        line-height: 1.5;
        border-radius: 10px;
        margin-bottom: 10px;
        background: #fcf2f2;
        height: 0;
        color: $bgSecondColor;
      }

      textarea.input {
        height: auto;
        overflow: auto;
        resize: vertical;
      }
    }

    .button {
      @include button;
      align-self: center;
      margin-top: 30px;

      &:hover {
        @include hover
      }
    }
  }
}
