.remoteBlock {
    min-height: 30vh;
    background-color: #FFEFD5;
}

.remoteContainer {
    flex-direction: column;
    justify-content: flex-start;
}

.title {
    background-color: #00FF7F
}

.button {
    font-weight: bold;
    font-size: 15px;
    background-color: #C0C0C0;
    margin-top: 20px;
    padding: 5px 40px;
}
