@import '../common/styles/sass/variables';
@import '../common/styles/sass/mixins';

.skillsBlock {
  padding: 100px 0;
  background-color: $bgColor;

  .skillsContainer {
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: nowrap;

    .skills {
      width: 100%;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      box-sizing: border-box;
      @media screen and (max-width: 878px) {
        justify-content: center;
      }
    }
  }
}
