@import '../common/styles/sass/variables';
@import '../common/styles/sass/mixins';

.mainBlock {
  padding: 115px 0;
  background: url('../assets/image/slider-bg.png') right fixed;
  align-items: center;

  .photo {
    width: 300px;
    height: 400px;
    margin: 0 auto;
    opacity: 0.6;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    @media screen and (max-width: 600px) {
      width: 100%;
    }
  }

  .wrapper {
    width: 605px;
    text-align: center;

    span {
      font-size: 22px;
      font-weight: 500;
      color: $textColor;
      display: inline-block;
      @media screen and (max-width: 600px) {
        font-size: 16px;
      }
    }

    h1 {
      color: $textColor;
      font-size: 45px;
      margin: 0;
      @media screen and (max-width: 600px) {
        font-size: 25px;
        width: 100%;
        height: 20%;
      }
    }

    p {
      display: inline-block;
      padding: 5px;
      width: 20ch;
      font-family: monospace;
      font-size: 30px;
      white-space: nowrap;
      overflow: hidden;
      color: $primaryColor;
      font-weight: 700;
      border-right: 4px solid $primaryColor;
      animation: flashingBorder 0.8s step-end infinite,
      printedText 6s cubic-bezier(0.250, 0.560, 0.450, 0.940) infinite;
      @media screen and (max-width: 600px) {
        font-size: 16px;
      }
    }

    @media screen and (max-width: 600px) {
      text-align: center;
      margin-top: 15px;
    }
  }
}

@keyframes flashingBorder {
  0% {
    border-color: $primaryColor;
  }
  50% {
    border-color: transparent;
  }
  100% {
    border-color: $primaryColor;
  }
}

@keyframes printedText {
  from {
    width: 0;
  }
}

