@import '../common/styles/sass/variables';

.nav {
  min-width: 300px;
  display: flex;
  justify-content: space-between;

  a {
    color: $textSecondColor;
    font-size: 16px;
    font-weight: 600;
    margin: 0 25px;
    text-decoration: none;
    @media screen and (max-width: 600px) {
      margin: 0
    }

    &:hover {
      color: $textThirdColor
    }
  }

  .active {
    color: $textThirdColor
  }
}