@import './variables';

@mixin text($fontFamily,$fontSize,$lineHeight) {
  font-family: $fontFamily;
  font-size: $fontSize;
  line-height: $lineHeight;
}

@mixin button() {
  font-size: 15px;
  border: 1px solid transparent;
  line-height: 1.5;
  border-radius: 35px;
  font-weight: 700;
  background: $primaryColor;
  color: $textThirdColor;
  width: 115px;
  height: 30px;
}

@mixin flex($direction,$justifyContent,$alignItems,$flexWrap) {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
}

@mixin hover() {
  border: 2px solid $textColor;
  box-shadow: 0 0 13px $textThirdColor;
  text-shadow: 0 0 15px $textThirdColor, 0 0 5px $textThirdColor;
}