$textColor: #eee;
$textSecondColor: #bdbfc0;
$textThirdColor: #ffffff;
$primaryColor: #e0a80d;
$bgColor: #2d2e2e;
$bgSecondColor: #212222;
$bgThirdColor: #242527;
$TitleFontFamily: 'Roboto', sans-serif;
$TextFontFamily: 'Mulish', sans-serif;