.projectsBlock {
    min-height: 100vh;
    background-color: #F0F8FF;
}

.projectsContainer {
    flex-direction: column;
    justify-content: flex-start;
}

.title {
    background-color: #AFEEEE;
}

.projects {
    border: 1px solid;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    box-sizing: border-box;
}